.clockFace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.clockFace p {
  background-color: gray;
  font-family: 'orbitron';
  font-size: 3rem;
  padding: 5rem;
  width: 250px;
}
